In [29]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.decomposition import TruncatedSVD
from sklearn.cluster import KMeans
from sklearn.pipeline import make_pipeline

Setting up pipeline

In [30]:
svd = TruncatedSVD(n_components=50)
kmeans = KMeans(n_clusters=6)

In [31]:
pipeline = make_pipeline(svd, kmeans)

In [76]:
df_1 = pd.read_csv('wikipedia-vectors.csv')

In [68]:
df_2 = pd.read_csv('wikipedia-vocabulary-utf8.txt')

In [34]:
titles = df_1.columns

In [35]:
titles.shape

(61,)

In [36]:
titles.dtype

dtype('O')

In [37]:
remove_item = ['Unnamed: 0']

In [38]:
titles_arr = titles.to_numpy()

np.setdiff1d to set difference between 2 matrix

In [39]:
titles_def = np.setdiff1d(titles_arr,remove_item)

In [55]:
titles_def.shape

(60,)

In [44]:
df_2

             aaron
0          abandon
1        abandoned
2       abandoning
3      abandonment
4            abbas
...            ...
13119     zimbabwe
13120         zinc
13121         zone
13122        zones
13123          zoo

[13124 rows x 1 columns]

In [77]:
df_1 = df_1.reset_index(drop=True)

In [81]:
del df_1['Unnamed: 0']

In [82]:
df_1

,HTTP 404,Alexa Internet,Internet Explorer,HTTP cookie,Google Search,Tumblr,Hypertext Transfer Protocol,Social search,Firefox,LinkedIn,...,Chad Kroeger,Nate Ruess,The Wanted,Stevie Nicks,Arctic Monkeys,Black Sabbath,Skrillex,Red Hot Chili Peppers,Sepsis,Adam Levine
0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.008878,0.0,0.0,0.049502,0.000000,0.000000,0.0
1,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.006110,0.0
2,0.0,0.029607,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0
3,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.005646,0.000000,0.0
4,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13120,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0
13121,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0
13122,0.0,0.000000,0.011594,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0
13123,0.0,0.000000,0.000000,0.0,0.006649,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.005476,0.0
13124,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0

Make pipeline to cluster articles

In [83]:
pipeline.fit(df_1)

Pipeline(steps=[('truncatedsvd', TruncatedSVD(n_components=50)),
                ('kmeans', KMeans(n_clusters=6))])

In [93]:
labels = pipeline.predict(df_1)
len(labels)

13125

In [95]:
len(titles_def)

60

In [89]:
titles_def.ndim

1

In [85]:
df = pd.DataFrame({'label':labels, 'articles':titles_def})

ValueError: arrays must all be same length