In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.decomposition import TruncatedSVD
from sklearn.cluster import KMeans
from sklearn.pipeline import make_pipeline

/Users/juansantateresagomez/opt/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
/Users/juansantateresagomez/opt/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

Setting up pipeline

In [5]:
svd = TruncatedSVD(n_components=50)
kmeans = KMeans(n_clusters=6)

In [6]:
pipeline = make_pipeline(svd, kmeans)

In [39]:
df = pd.read_csv('wikipedia-vectors')

In [40]:
df

             aaron
0          abandon
1        abandoned
2       abandoning
3      abandonment
4            abbas
...            ...
13119     zimbabwe
13120         zinc
13121         zone
13122        zones
13123          zoo

[13124 rows x 1 columns]