In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
samples = pd.read_csv('lcd-digits.csv')

In [5]:
samples.head(5)

,0.0,0.0.1,0.0.2,0.0.3,0.0.4,0.0.5,0.0.6,0.0.7,0.0.8,0.0.9,...,0.0.82,0.0.83,0.0.84,0.0.85,0.0.86,0.0.87,0.0.88,0.0.89,0.0.90,0.0.91
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
samples.to_numpy

<bound method DataFrame.to_numpy of     0.0  0.0.1  0.0.2  0.0.3  0.0.4  0.0.5  0.0.6  0.0.7  0.0.8  0.0.9  ...  \
0   0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0  ...
1   0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0  ...
2   0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0  ...
3   0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0  ...
4   0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0  ...
..  ...    ...    ...    ...    ...    ...    ...    ...    ...    ...  ...
94  0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0  ...
95  0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0  ...
96  0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0  ...
97  0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0  ...
98  0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0  ...

    0.0.82  0.0.83  0.0.84  0.0.85  0.0.86  0.0.87  0.0.88  0.0.89  0.0.90  \
0      0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
1      0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
2      0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
3      0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
4      0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
..     ...     ...     ...     ...     ...     ...     ...     ...     ...
94     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
95     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
96     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
97     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
98     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0

    0.0.91
0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
..     ...
94     0.0
95     0.0
96     0.0
97     0.0
98     0.0

[99 rows x 104 columns]>

In [11]:
digit = samples.loc[0,:]

In [12]:
digit

0.0       0.0
0.0.1     0.0
0.0.2     0.0
0.0.3     0.0
0.0.4     0.0
         ...
0.0.87    0.0
0.0.88    0.0
0.0.89    0.0
0.0.90    0.0
0.0.91    0.0
Name: 0, Length: 104, dtype: float64

In [15]:
digit.shape

(104,)