In [3]:
import pandas as pd
from scipy.cluster.hierarchy import fcluster
from scipy.cluster.hierarchy import linkage, dendrogram

In [4]:
varieties = pd.read_csv('seeds.csv')

In [5]:
varieties.head()

   15.26  14.84   0.871  5.763  3.312  2.221   5.22  1
0  14.88  14.57  0.8811  5.554  3.333  1.018  4.956  1
1  14.29  14.09  0.9050  5.291  3.337  2.699  4.825  1
2  13.84  13.94  0.8955  5.324  3.379  2.259  4.805  1
3  16.14  14.99  0.9034  5.658  3.562  1.355  5.175  1
4  14.38  14.21  0.8951  5.386  3.312  2.462  4.956  1

In [6]:
varieties2 = pd.read_csv('seeds-width-vs-length.csv')

In [7]:
varieties2.head(
)

   3.312  5.763
0  3.333  5.554
1  3.337  5.291
2  3.379  5.324
3  3.562  5.658
4  3.312  5.386

In [8]:
mergings = linkage(varieties, method = 'single')

In [9]:
labels = fcluster(mergings, criterion='distance', t=6)

In [10]:
dic = pd.DataFrame([labels, varieties])

In [11]:
dic_tras = dic.T

In [12]:
dic_tras.columns = ['labels', 'varieties']

In [13]:
dic_tras

    labels varieties
0        1     15.26
1        1     14.84
2        1     0.871
3        1     5.763
4        1     3.312
..     ...       ...
204      1       NaN
205      1       NaN
206      1       NaN
207      1       NaN
208      1       NaN

[209 rows x 2 columns]

In [14]:
ct = pd.crosstab(dic_tras['labels'], dic_tras['varieties'])

In [45]:
ct

varieties  0.871  1  14.84  15.26  2.221  3.312  5.22  5.763
labels
1              1  1      1      1      1      1     1      1

In [15]:
dic_tras.to_csv('samples_to_edit.csv')